# VS Code
.vscode/

# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Metro
.metro-health-check*

# Android
android/.gradle/
android/build/
android/app/build/

# iOS
ios/build/

# Native module builds
modules/**/android/.gradle/
modules/**/android/build/

# Kotlin
.kotlin/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Environment
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Signing keys
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Misc
*.orig.*
coverage/
.cache/

# Example app
app-example/